.roundedPanel {
  width: 94%;
  margin: 1% 2.5%;
  border: 1px solid #cacaca;
  border-radius: 8px;
  box-shadow: 3px 10px 10px -10px #ccc;
}

.row {
  display: flex;
  border-bottom: 1px solid #dadada;
  padding: 10px;
  height: 50px;
}

.customerColumn {
  display: flex;
  flex-direction: column;
  flex: 95%;
  margin: auto;
}
.viewColumn {
  flex: 3%;
  margin: auto;
}
.deleteColumn {
  flex: 2%;
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.heading {
  background-color: #f3f3f3;
  color: #69c19a;
  text-transform: uppercase;
}

.businessName {
  font-weight: 600;
  color: #777;
}
.address {
  font-size: 0.85em;
  color: #bbb;
}

.buttonView {
  background-color: #41b380;
  color: #fff;
  border: 2px solid #558d74;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  margin: 5px;
}

.buttonDelete {
  background-color: #aaa;
  color: #fff;
  margin: 5px;
  border: none;
  border-radius: 50%;
  font-size: 1.05em;
  padding: 2px 7px;
}
